* {
    margin: 0;
    padding: 0;
    font-family: Barlow-Medium;
}

body {
    background-image: url("/12457-NOEMW3.jpg");
    background-size: cover;
    background-color: #33b633;
}

@media screen and (max-width: 980px) {
    .root {
        flex-direction: column;
    }

    .titleBox {
        position: relative;
        top: 5vh;
        font-size: 3vw;
    }

    .main {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    
}