* {
    margin: 0;
    padding: 0;
    font-family: Barlow-Medium;
}

body {
    background-image: url("/12457-NOEMW3.jpg");
    background-size: cover;
    background-color: #33b633;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 980px) {

    .searchBox {
        border-radius: 10px;
    }

    .root {
        flex-direction: column;
    }

    .titleBox {
        font-size: large;
    }

    .main {
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
    
}