.infoBox {
    background-color: #fff !important;
    padding: 20px;
    border-radius: 8px 8px 0 0;
    width: 60vw;
    text-align: center;
    height: 55vh;
    margin-top: 4vh;
}

.cityName{
    font-size: 50px;
}

.weatherIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weatherIcon img {
    width: 10vw;
    height: 12vh;
    object-fit: contain;
}

.weatherInfoBox {
    width: 15vw;
    height: 15vh;
    margin: auto;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    background-color: #6de36d;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transform: scale(0.8px);
}

.weatherInfoBox:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.description > p {
    font-style: italic;
    font-weight: bold;
    font-size: large;
    margin: 0 0 5px 5px;
    text-transform: capitalize;
}

.upperInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.minTemp {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
}

.maxTemp {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
}

.windInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}

.windInfo img {
    width: 10vw;
    height: 10vh;
    object-fit: contain;
}

@media screen and (max-width: 1200px) {
    .infoBox { 
        width: 90vw;
        height: 75vh;
    }

    .weatherIcon {
        gap: 10px;
    }

    .cityName {
        font-size: 30px;
    }

  .weatherInfoBox {
    width: 50vw;
    height: 20vh;
    margin: auto;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    background-color: #6de36d;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transform: scale(0.8);
  }

    .infoBox > h3 {
        font-size: 3.5vh;    
    }

    .infoBox > p {
        font-size: 2.5vh;
    }  

    .windInfo img {
        width: 10vw;
        height: 10vh;
        object-fit: contain;
    } 

    .windInfo {
        font-size: 2.5vh;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 900px) {
    .infoBox {  
        width: 90vw;
        height: 75vh;
    }

    .weatherIcon {
        gap: 10px;
    }

    .weatherInfoBox {
        width: 50vw;
        height: 20vh;   
    }
    
}