.searchBox {
    display: flex;
    width: 65vw;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 90px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-top: 10px;
}

.searchButton {
    transform: scale(0.9);
}

.searchButton:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
    cursor: pointer;
}

@media screen and (max-width: 900px) {w
    .app-container {
        padding: 10px;
    }

    .searchBox {
        width: 90vw;
    }

    .app-logo h2 {
        font-size: 20px;
    }

    .search {
        flex-direction: column;
    }

    .search button {
        margin-top: 10px;
    }

    .search input {
        width: 100%;
    }   

    .search button {
        width: 100%;
    }
    
}

@media screen and (max-width: 1200px) {
    .searchBox {
        width: 90vw;
    }
    
}